{% extends 'myapp/base.html' %}
{% load humanize %}
{% block content %}
<center>
    <h1>Order List</h1>
</center>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Date & Time</th>
            <th scope="col">Id</th>
            <th scope="col">Price</th>
            <th scope="col">Shipcost</th>
            <th scope="col">Total</th>
            <th scope="col">Slip</th>
            <th scope="col">Status</th>
            <th scope="col">Tracking No.</th>
        </tr>
    </thead>
    <tbody>
        {% for order in allorder %}
        <tr>
            <td>{{ order.stamp }}</td>
            <td>
                <a href="{% url 'updatetracking-page' order.orderId %}">{{ order.orderId }}</a> ({{ order.name }})
            </td>
            <td>{{ order.total | intcomma}}</td>
            <td>{{ order.shipcost | intcomma}}</td>
            <td>{{ order.total|add:order.shipcost | intcomma }}</td>
            <td>
                {% if order.slip %}
                <a href="{{ order.slip.url }}" class="btn btn-success">Slip</a>
                {% else %}
                <a href="#"><i class="fas fa-times-circle" style=" font-size: 26px; color: red;"></i></i></a>
                {% endif %}
            </td>
            <td>
                {% if order.paid and order.slip %}
                <a href="{% url 'updatestatus' order.orderId 'cancel' %}">
                    <i class="fas fa-check-circle" style=" font-size: 26px; color: green;"></i>
                </a>
                {% elif order.paid == False and not order.slip %}
                <a href="#"><i class="fas fa-times-circle" style=" font-size: 26px; color: red;"></i></i></a>
                {% else %}
                <a class="btn btn-light" href="{% url 'updatestatus' order.orderId 'confirm' %}" style="color: blue;">
                    <i class="fas fa-plus-square" style=" font-size: 20px;"></i>
                </a>
                {% endif %}
            </td>
            <td>
                {% if order.trackingNumber != None %}
                {{ order.trackingNumber }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="pagination" style="text-align: center;">
    {% if allorder.has_previous and allorder.has_next != True %}
    <li class="page-item">
        <a class="page-link" href="?page={{allorder.previous_page_number}}">&#8249;</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{allorder.number|add:-2}}">{{allorder.number|add:-2}}</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{allorder.number|add:-1}}">{{allorder.number|add:-1}}</a>
    </li>
    <li class="page-item active">
        <a class="page-link" href="?page={{allorder.number}}">{{allorder.number}}</a>
    </li>
    {% endif %}

    {% if allorder.has_previous and allorder.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{allorder.previous_page_number}}">&#8249;</a></li>
    <li class="page-item">
        <a class="page-link" href="?page={{allorder.number|add:-1}}">{{allorder.number|add:-1}}</a>
    </li>
    <li class="page-item active">
        <a class="page-link" href="?page={{allorder.number}}">{{allorder.number}}</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{allorder.number|add:1}}">{{allorder.number|add:1}}</a>
    </li>
    <li class="page-item"><a class="page-link" href="?page={{order.next_page_number}}">&#8250;</a></li>
    {% endif %}

    {% if allorder.has_next and allorder.has_previous != True %}
    <li class="page-item active">
        <a class="page-link" href="?page={{allorder.number}}">{{allorder.number}}</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{allorder.number|add:1}}">{{allorder.number|add:1}}</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{allorder.number|add:2}}">{{allorder.number|add:2}}</a>
    </li>
    <li class="page-item"><a class="page-link" href="?page={{allorder.next_page_number}}">&#8250;</a></li>
    {% endif %}
</ul>

Page {{allorder.number}} of {{allorder.paginator.num_pages}}
{% endblock content %}